@font-face {
    font-family: 'Zabars';
    src: url(./assets/fonts/Zabars.ttf);
}

html {
    background: linear-gradient(#FF9247, #EA5F00);
    overflow: hidden;
}

* {
    margin: 0;
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}

body {
    font-family: Zabars;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-image: url(./assets/img/desert-5385998_1920.png);
    background-position: top;
    background-size: contain;
}

canvas {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

h1 {
    color: black;
    text-shadow: -4px 4px #9A3E00;
    letter-spacing: 6px;
    font-size: 5vw;
    margin: 5vh 0px;
}

.overlay {
    position: relative !important;
    width: 99vw;
    height: 75vh;
    min-width: unset;
    min-height: unset;
}

.overlay-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#startBtn {
    font-size: 4.25vw !important;
    top: 6.5% !important;
}

button {
    z-index: 1;
    cursor: pointer;
    font-family: Zabars;
    font-size: 3.75vw;
    color: white;
    position: absolute;
    top: 7.5%;
    left: 50%;
    border: none;
    background: none;
    text-shadow: 2px 2px #9A3E00;
    animation: pulse 2s infinite;
}

button:hover {
    scale: 1.05;
    text-shadow: 4px 4px #9A3E00;
}

@keyframes pulse {
    0% {
        transform: scale(0.95) translateX(-50%);
    }

    70% {
        transform: scale(1) translateX(-50%);
    }

    100% {
        transform: scale(0.95) translateX(-50%);
    }
}

section {
    display: none;
    justify-content: space-around;
    padding: 24px 0;
    width: 100%;
}

.more-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}

#movement {
    left: 25%;
}

#imprint {
    left: 75%;
}

.navigation {
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    padding: 0 24px;
    width: -webkit-fill-available;
    padding-bottom: 6px;
    justify-content: center;
}

.navigation img {
    width: 5vw;
    height: 5vw;
    cursor: pointer;
}

.navigation div {
    display: flex;
    gap: 16px;
}

.touch-arrows,
.touch-btn {
    display: none;
}

.rotateDeviceDiv {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 48px;
}

#rotateDevice {
    width: 264px;
    height: 264px;
    margin: auto;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        rotate: -90deg;
    }

    70% {
        rotate: 0deg;
    }

    100% {
        rotate: -90deg;
    }
}

/*
*   Overlay Win Screen
*
*/
.overlay-win {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: none;
    background-image: url(img/9_intro_outro_screens/win/won_2.png);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-color: rgb(0, 0, 0, 0.35);
}

.overlay-win button {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 112px;
    height: 100%;
    font-family: 'Zabars';
    font-size: 32px;
    background: none;
    color: white;
    text-shadow: -2px 2px #9A3E00;
    animation: pulse 2s infinite;
}

.overlay-win button:hover {
    text-shadow: -8px 8px #9A3E00;
    scale: 1.05;
}

.overlay-lose {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: none;
    background-image: url(img/9_intro_outro_screens/game_over/game_over.png);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-color: rgb(0, 0, 0, 0.35);
}

.overlay-lose button {
    font-family: 'Zabars';
    font-size: 2vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 112px;
    height: 100%;
    border: none;
    background: none;
    color: white;
    text-shadow: -2px 2px #9A3E00;
    animation: pulse 2s infinite;
}

.overlay-lose button:hover {
    text-shadow: -8px 8px #9A3E00;
    scale: 1.05;
}

#imprintDiv {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    background: white;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-image: url(./assets/img/desert-5385998_1920.png);
    background-size: contain;
}

#movementDiv {
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    background: white;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-image: url(./assets/img/desert-5385998_1920.png);
    background-size: contain;
}

.imprint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3vh;
}

.imprint div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3vh;
}

.movement div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: black;
    cursor: pointer;
    font-size: 2.75vw;
    text-shadow: -2px 2px #9A3E00;
    margin: 2vw 0;
}

span:hover {
    text-shadow: -10px 10px #9A3E00;
    scale: 1.05;
}

.arrows {
    gap: 2vw;
    color: white;
}

p {
    font-size: 2vw;
    text-shadow: -1px 1px black;
}

h2 {
    font-size: 4vw;
}