@font-face {
    font-family: 'Zabars';
    src: url(./assets/fonts/Zabars.ttf);
}

html {
    background: linear-gradient(#FF9247, #EA5F00);
    overflow: hidden;
}

* {
    margin: 0;
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}

body {
    font-family: Zabars;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /**overflow: hidden;**/
    background-image: url(./assets/img/desert-5385998_1920.png);
    /**background-size: cover;**/
    background-position: top;
    overflow: scroll;
}

canvas {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 480px;
    z-index: 1;
    display: none;
}

h1 {
    color: black;
    text-shadow: -4px 4px #9A3E00;
    letter-spacing: 6px;
    font-size: 72px;
    margin: 40px 0;
}

.overlay {
    position: relative !important;
    height: 480px;
    width: 720px;
    max-width: 1920px;
    min-width: 720px;
    min-height: 480px;
}

.overlay-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: -75px;
    background-image: url(/img/9_intro_outro_screens/start/startscreen_1.png);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#startBtn {
    cursor: pointer;
    font-family: Zabars;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 32px;
    left: 50%;
    border: none;
    background: none;
    text-shadow: 2px 2px #9A3E00;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95) translateX(-50%);
    }

    70% {
        transform: scale(1) translateX(-50%);
    }

    100% {
        transform: scale(0.95) translateX(-50%);
    }
}

#startBtn:hover {
    scale: 1.05;
    text-shadow: 4px 4px #9A3E00;
}

section {
    display: none;
    justify-content: space-around;
    padding: 24px 0;
    width: 100%;
}

.more-about {
    display: flex;
    padding: 12px 0;
    flex-direction: column;
    align-items: center;
}

.more-about img {
    width: 64px;
    height: 24px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 6px black);
}

.more-about img:hover {
    scale: 1.05;
}

span {
    color: black;
    cursor: pointer;
    font-size: 52px;
    text-shadow: -2px 2px #9A3E00;
}

span:hover {
    text-shadow: -10px 10px #9A3E00;
    scale: 1.05;
}

.imprint {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.imprint div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movement {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.movement div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrows {
    gap: 16px;
    color: #9A3E00;
    text-shadow: -1px 3px black;
}

p {
    font-size: 30px;
}


.navigation {
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    padding: 0 24px;
    width: -webkit-fill-available;
    padding-bottom: 6px;
    justify-content: center;
}

.navigation img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.navigation div {
    display: flex;
    gap: 16px;
}

.touch-arrows, .touch-btn {
    display: none;
}


.rotateDeviceDiv {
    display: none; 
    flex-direction: column; 
    align-items: center; 
    margin: auto; 
    gap: 48px;
}


#rotateDevice {
    width: 264px;
    height: 264px;
    margin: auto;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        rotate: -90deg;
    }

    70% {
        rotate: 0deg;
    }

    100% {
        rotate: -90deg;
    }
}












/*
*   Overlay Win Screen
*
*/
.overlay-win {
    position: absolute;
    height: 480px;
    width: 720px;
    min-width: 720px;
    min-height: 480px;
    top: 0;
    z-index: 9999;
    display: none;
    background-image: url('img/9_intro_outro_screens/win/won_2.png');
    background-size: cover;
    background-position-y: center;
    background-color: rgb(0, 0, 0, 0.35);
}

.overlay-win button {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 112px;
    font-family: 'Zabars';
    font-size: 32px;
    background: none;
    color: white;
    text-shadow: -2px 2px #9A3E00;
    animation: pulse 2s infinite;
}

.overlay-win button:hover {
    text-shadow: -8px 8px #9A3E00;
    scale: 1.05;
}










.overlay-lose {
    position: absolute;
    height: 480px;
    width: 720px;
    min-width: 720px;
    min-height: 480px;
    top: 0;
    z-index: 9999;
    display: none;
    background-image: url(img/9_intro_outro_screens/game_over/game_over.png);
    background-size: contain;
    background-position-y: center;
    background-color: rgb(0, 0, 0, 0.35);
}

.overlay-lose button {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 112px;
    font-family: 'Zabars';
    font-size: 32px;
    background: none;
    color: white;
    text-shadow: -2px 2px #9A3E00;
    animation: pulse 2s infinite;
}

.overlay-lose button:hover {
    text-shadow: -8px 8px #9A3E00;
    scale: 1.05;
}









